<marquee align="center" height="200" scrolldelay="5" scrollamount="3" onmouseout="this.start()" onmouseover="this.stop()">
<p>
<img border="0" src="images/banner1.png" alt="" hspace="0" width="400" height="200">
<img border="0" src="images/banner1.png" alt="" hspace="0" width="400" height="200">
<img border="0" src="images/banner1.png" alt="" hspace="0" width="400" height="200">
<img border="0" src="images/banner1.png" alt="" hspace="0" width="400" height="200">
<img border="0" src="images/banner1.png" alt="" hspace="0" width="400" height="200">
<img border="0" src="images/banner1.png" alt="" hspace="0" width="400" height="200">
</p>
</marquee>