
        <div class="container navbar-fixed-bottom">
            <nav class="nav-footer">
                <ul>
                    <li>
                        <a href="#">Projects</a>
                    </li>

                    <li>
                        <a href="#">Your Profile</a>
                    </li>

                    <li>
                        <a href="#">About Clock'n Go</a>
                    </li>

                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>

                                  <ul>
                                      <li><a href="#"> <i class="fa fa-facebook"></i> </a></li>
                                      <li><a href="#"> <i class="fa fa-twitter"></i> </a></li>
                                      <li><a href="#"> <i class="fa fa-github"></i> </a> </li>  
                                      <li><a href="#"> <i class="fa fa-linkedin"></i> </a></li>
                                      <li><a href="#"> <i class="fa fa-envelope"></i> </a></li>
                                  </ul>

                <p class="credits text-center">&copy; All Rights Reserved 2016</p>
            </nav>
        </div>
</div></div>