
    <!-- jQuery from CDN -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
      <script src="js/jribbble.js"></script>
      <script src="js/bootstrap.js"></script>
      <script src="bower_components/threejs/build/three.min.js"></script> 
      <script src="bower_components/threex.domevents/threex.domevents.js"></script> 
      <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TweenMax.min.js"></script>
      <script src="js/background.js"></script>
      <script src="js/usefulJsTools.js"></script>

    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    
    <title>Clock'n'Go - The crowdfunding about time</title>
    
    <!-- Bootstrap + Font Awesome + Main CSS -->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <!-- customize this file if needed -->
    <link href="css/main.css" rel="stylesheet">
    
