<html>
  <head>
    <% include ./_head %>
  </head>
  <body>
    <% include ./_header %>
    <% include ./_banner %>

    <a href="/"><button type="button" class="btn btn-success center-block">Launch new project</button></a>

    <div class="row">
      <div class="col-md-3 col-md-offset-1" height="100px">
	Hoy
      </div>
      <div class="col-md-3 col-md-offset-1" height="100px">
	Hoy
      </div>
      <div class="col-md-3 col-md-offset-1" height="100px">
	Hoy
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 col-md-offset-1" height="100px">
	Hoy
      </div>
      <div class="col-md-3 col-md-offset-1" height="100px">
	Hoy
      </div>
      <div class="col-md-3 col-md-offset-1" height="100px">
	Hoy
      </div>
    </div>

    <% include ./_footer %>
  </body>
</html>
