<html>
  <head>
    <% include ./_head %>

	<script type="text/paperscript" canvas="themes" src="js/launch.js"></script>
	<script src="js/paper-core.min.js"></script>
	<script src="js/paper-full.min.js"></script>
  </head>
  <body>
      <% include ./_header %>
	  <canvas id="themes" resize></canvas>
      <% include ./_footer %>
  </body>
</html>
