<html>
  <head>
    <% include ./_head %>
    <link rel="stylesheet" type="text/css" href="../../assets/css/profile.css">

  </head>
  <body>
    <% include ./_header %>
    <div style="display:inline-block">
    <a href="../../assets/images/ccholin.jpg">
    </div>
    	<% include ./_banner %>
    </div>


    <div class="row">
      <div class="col-md-3 col-md-offset-1" height="100px">
	Hoy
      </div>
      <div class="col-md-3 col-md-offset-1" height="100px">
	Hoy
      </div>
      <div class="col-md-3 col-md-offset-1" height="100px">
	Hoy
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 col-md-offset-1" height="100px">
	Hoy
      </div>
      <div class="col-md-3 col-md-offset-1" height="100px">
	Hoy
      </div>
      <div class="col-md-3 col-md-offset-1" height="100px">
	Hoy
      </div>
    </div>

    <% include ./_footer %>
  </body>
</html>
